<footer class="page-footer font-small bg-danger pt-4 bg-3">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="tm-social">
                    <a href="https://www.facebook.com/bgs.souza/" target="_blank" class="icoFacebook">
                        <i class="fab fa-facebook-f" aria-hidden="true"> </i>
                    </a>
                    <a href="https://www.instagram.com/_xuxu_bia/" target="_blank" class="icoInstagram">
                        <i class="fab fa-instagram" aria-hidden="true"> </i>
                    </a>
                    <a href="https://www.linkedin.com/in/beatriz-souzaa/" target="_blank" class="icoLinkedin">
                        <i class="fab fa-linkedin-square" aria-hidden="true"> </i>
                    </a>
                    
                    

                </ul>



            </div>
        </div>


    </div>
    
    
</footer>