.fs-16 {

    font-size: 18pt;
    text-align: justify;
    font-style: normal;
  
  }
  a {
  
    cursor: pointer;
  }
  .bg-fundo {
  
     background-image: linear-gradient( #ffba7a, #fac95f, #fd934c);
      min-height: 130px;
      background-position: justify;
      background-repeat: repeat;
      background-size: cover;
      }

  
  