#img-bg{

    background-image: url('https://image.freepik.com/vetores-gratis/fundo-de-elementos-esbocos-de-blog_23-2147572815.jpg');
    min-height: 695px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    
    