#img-bg{

    background-image: url('https://image.freepik.com/vetores-gratis/fundo-de-elementos-esbocos-de-blog_23-2147572815.jpg');
    min-height: 695px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  
    }

    .bg-fundo {
    
      background-image: url('https://i.pinimg.com/originals/cf/73/c1/cf73c17caf7e51d645ef794e7bc62856.jpg');
      min-height: 695px;
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      }


  